<%-include('header')%>
<body class="cart_page">
   <%-include('body')%>
    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Cart</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="/home">Home</a></li>
                                <li class="ec-breadcrumb-item active">Cart</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Ec cart page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-cart-leftside col-lg-8 col-md-12 ">
                    <!-- cart content Start -->
                    <div class="ec-cart-content">
                        <div class="ec-cart-inner">
                            <div class="row">
                                <form action="#">
                                    <div class="table-content cart-table-content">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th style="text-align: center;">Quantity</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% cart.forEach((item) => { %>
                                                <input type="hidden" value="<%= item.product %>" name="cartData">

                                                <tr id="row<%= item.product._id %>" class="table_row">
                                                    <td data-label="Product" class="ec-cart-pro-name"><a
                                                            href=/productview?id=<%= item.product._id %>><img
                                                                class="ec-cart-pro-img mr-4"
                                                                src="<%= item.product.imageUrl[0].url %>" alt="" /><%= item.product.name %> </a></td>
                                                    <td data-label="Price" class="ec-cart-pro-price">
                                                      
                                                            <div style="color: green;" class="productprice" value="<%= item.product.price %>">₹ <%= item.product.price %></div>
                                                            
                                                        </td>
                                                        
                                                        <input type="hidden" name="productprice" value="<%= item.product.price %>">

                                                        <input type="hidden" name="productId" value="<%= item.product._id %>">
                    
                    
                                                    <!-- <td data-label="Quantity" class="ec-cart-pro-qty"
                                                        style="text-align: center;">
                                                        <div class="cart-qty-plus-minus">
                                                            <input class="cart-plus-minus" type="text"
                                                                name="cartqtybutton" value="1" />
                                                        </div>
                                                    </td> -->
                                                    <td class="quantity-col">
                                                        <div class="cart-product-quantity">
                
                                                            <div class="input-group  input-spinner">
                                                                <div class="input-group-prepend">
                                                                    <button onclick="totalPrice('<%= item.product._id %>','dec')" style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button">
                                                                        <i class="fi fi-rr-minus"></i>
                                                                    </button>
                                                                </div>
                                                                
                                                                <input disabled type="number" id="<%= item.product._id %>" style="text-align: center;" class="form-control" name="num-product" value="<%= item.quantity %>">
                
                
                                                                <div class="input-group-append">
                                                                    <button onclick="totalPrice('<%= item.product._id %>','inc','<%= item.product.stock %>')" style="min-width: 26px" class="btn btn-increment btn-spinner" type="button">
                                                                        <i class="fi fi-rr-add"></i>
                                                                    </button>
                                                                </div>
                                                            
                                                            </div>
                
                                                        </div><!-- End .cart-product-quantity -->
                                                    </td>
                                                    <td name="productTotal" data-label="Total" class="ec-cart-pro-subtotal">
                                                        <span id="total-<%= item.product._id %>"><%= item.total %></span>
                                                    </td>
                                                    
                                                    <input type="hidden" id="product_id<%= item.product._id %>" value="<%= item.product._id %>">
                                                    <input type="hidden" name="cart_id" value="<%= item._id %>">
                                                    <td class="remove-col">
                                                        <button  onclick="removeCartalert('<%= item.product._id %>')">
                                                            <i class="fi fi-rr-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                               <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="ec-cart-update-bottom">
                                                <a href="/home">Continue Shopping</a>
                                                <button class="btn btn-primary" onclick="proceedToCheckout()" >Check Out</button>
                                                <!-- <button disabled onclick="proceedToCheckout()" id="checkout-btn" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</button> -->

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--cart content End -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="ec-cart-rightside col-lg-4 col-md-12">
                    <div class="ec-sidebar-wrap">
                        <!-- Sidebar Summary Block -->
                        <div class="ec-sidebar-block">
                            <div class="ec-sb-title">
                                <h3 class="ec-sidebar-title">Summary</h3>
                            </div>
                          

                            <div class="ec-sb-block-content">
                                <div class="ec-cart-summary-bottom">
                                    <div class="ec-cart-summary">
                                        <div>
                                            <span class="text-left">Sub-Total</span>
                                            <span class="text-right" id="subTotal"><%=subTotal%></span>
                                        </div>
                                        <div>
                                            <span class="text-left">Delivery Charges</span>
                                            <span class="text-right">₹0.00</span>
                                        </div>
                                     
                                        <div class="ec-cart-coupan-content">
                                            <form class="ec-cart-coupan-form" name="ec-cart-coupan-form" method="post"
                                                action="#">
                                                <input class="ec-coupan" type="text" required=""
                                                    placeholder="Enter Your Coupan Code" name="ec-coupan" value="">
                                                <button class="ec-coupan-btn button btn-primary" type="submit"
                                                    name="subscribe" value="">Apply</button>
                                            </form>
                                        </div>
                                        <div class="ec-cart-summary-total">
                                            <span class="text-left">Total Amount</span>
                                            <span class="text-right" id="subTotal2"><%=subTotal%></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Summary Block -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<%-include('footer')%>