<%-include('header')%>

<body class="checkout_page">
    <%-include('body')%>

  <!-- Ec checkout page -->
  <section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-checkout-leftside col-lg-8 col-md-12 ">
                <!-- checkout content Start -->
                <div class="ec-checkout-content">
                    <div class="ec-checkout-inner">
                        <div class="ec-checkout-wrap margin-bottom-30">
                            <h3 class="ec-checkout-title">Choose Billing Address</h3>
                            <% addressData.forEach(address => { %>
                                <div class="col-lg-5">
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <input type="radio" id="address<%= address.id %>" name="selectedAddress" value="<%= address.id %>" onchange="handleAddressSelection()">
                                            <label for="address<%= address.id %>">
                                                <strong>Name:</strong> <%= address.name %><br>
                                                <strong>Mobile number:</strong> <%= address.mobile %><br>
                                                <strong>Email:</strong> <%= address.email %><br>
                                                <strong>Address:</strong> <%= address.addressLine %><br>
                                                <strong>City:</strong> <%= address.city %><br>
                                                <strong>State:</strong> <%= address.state %><br>
                                                <strong>Pincode:</strong> <%= address.pincode %><br>
                                                <a href="/profile">Edit <i class="icon-edit"></i></a>
                                            </label>
                                        </div><!-- End .card-body -->
                                    </div><!-- End .card-dashboard -->
                                </div><!-- End .col-lg-6 -->
                            <% }); %>
                            
                            
                    

                        </div>
                        
                        <div class="ec-checkout-wrap margin-bottom-30 padding-bottom-3">
                            <div class="ec-checkout-block ec-check-bill">
                               
                                
                                <div class="ec-bl-block-content">
                                    <h3 class="ec-checkout-title">Or Add New Address</h3>
                                   
                                    <div class="ec-check-bill-form">
                                        <form id="addAddressCheckout">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <label>Full Name *</label>
                                                    <input type="text" name="name" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-5">
                                                    <label>Mobile Number *</label>
                                                    <input type="text" name="mobileNumber" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-8">
                                                    <label>Address Line *</label>
                                                    <input type="text" name="addressLine" class="form-control">
                                                    <!-- <textarea name="addressLine" id="" cols="30" rows="1"></textarea> -->
                                                </div><!-- End .col-sm-6 -->
                                                
                                            </div><!-- End .row -->
                                            
                                           
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email *</label>
                                                    <input type="tel" name="email" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-6">
                                                    <label>Town / City *</label>
                                                    <input type="text" name="city" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" name="state" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                                <div class="col-sm-6">
                                                    <label>Pincode *</label>
                                                    <input type="text" name="pincode" class="form-control">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <button type="submit" class="btn btn-outline-primary-2 mt-1">
                                                <span>SAVE ADDRESS</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                       
                        <button disabled onclick="placeOrder()" id="place-order-btn" class="btn btn-primary">
                            Place Order
                        </button>
                    </div>
                </div>
                <!--cart content End -->
            </div>
            <!-- Sidebar Area Start -->
            <div class="ec-checkout-rightside col-lg-4 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Summary Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-sb-title">
                            <h3 class="ec-sidebar-title">Summary</h3>
                        </div>
                        <div class="ec-sb-block-content">
                            <div class="ec-checkout-summary">
                                <div>
                                    <span class="text-left">Sub-Total</span>
                                    <span class="text-right">$80.00</span>
                                </div>
                                <div>
                                    <span class="text-left">Delivery Charges</span>
                                    <span class="text-right">$0.00</span>
                                </div>
                                <div>
                                    <span class="text-left">Coupan Discount</span>
                                    <span class="text-right"><a class="ec-checkout-coupan">Apply Coupon</a></span>
                                </div>
                                <div class="ec-checkout-coupan-content">
                                    <form class="ec-checkout-coupan-form" name="ec-checkout-coupan-form"
                                        method="post" action="#">
                                        <input class="ec-coupan" type="text" required=""
                                            placeholder="Enter Your Coupan Code" name="ec-coupan" value="">
                                        <button class="ec-coupan-btn button btn-primary" type="submit"
                                            name="subscribe" value="">Apply</button>
                                    </form>
                                </div>
                                <input type="hidden" id="subTotalValue" value="<%= subTotal %>">
                                <div class="ec-checkout-summary-total">
                                    <span class="text-left">Total Amount</span>
                                    <span class="text-right">$<%= subTotal %></span>
                                </div>
                            </div>
                            <div class="ec-checkout-pro">
                                <div class="col-sm-12 mb-6">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    <img class="main-image"
                                                        src="/images/product-image/1_1.jpg"
                                                        alt="Product" />
                                                    <img class="hover-image"
                                                        src="/images/product-image/1_2.jpg"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Baby toy teddy bear</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">$95.00</span>
                                                <span class="new-price">$79.00</span>
                                            </span>
                                            <div class="ec-pro-option">
                                                <div class="ec-pro-color">
                                                    <span class="ec-pro-opt-label">Color</span>
                                                    <ul class="ec-opt-swatch ec-change-img">
                                                        <li class="active"><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/1_1.jpg"
                                                                data-src-hover="/images/product-image/1_1.jpg"
                                                                data-tooltip="Gray"><span
                                                                    style="background-color:#6d4c36;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/1_2.jpg"
                                                                data-src-hover="/images/product-image/1_2.jpg"
                                                                data-tooltip="Orange"><span
                                                                    style="background-color:#ffb0e1;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/1_3.jpg"
                                                                data-src-hover="/images/product-image/1_3.jpg"
                                                                data-tooltip="Green"><span
                                                                    style="background-color:#8beeff;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/1_4.jpg"
                                                                data-src-hover="/images/product-image/1_4.jpg"
                                                                data-tooltip="Sky Blue"><span
                                                                    style="background-color:#74f8d1;"></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="ec-pro-size">
                                                    <span class="ec-pro-opt-label">Size</span>
                                                    <ul class="ec-opt-size">
                                                        <li class="active"><a href="#" class="ec-opt-sz"
                                                                data-old="$95.00" data-new="$79.00"
                                                                data-tooltip="Small">S</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$90.00"
                                                                data-new="$70.00" data-tooltip="Medium">M</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$80.00"
                                                                data-new="$60.00" data-tooltip="Large">X</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$70.00"
                                                                data-new="$50.00" data-tooltip="Extra Large">XL</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb-0">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    <img class="main-image"
                                                        src="/images/product-image/8_1.jpg"
                                                        alt="Product" />
                                                    <img class="hover-image"
                                                        src="/images/product-image/8_2.jpg"
                                                        alt="Product" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Smart I watch 2GB</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">$58.00</span>
                                                <span class="new-price">$45.00</span>
                                            </span>
                                            <div class="ec-pro-option">
                                                <div class="ec-pro-color">
                                                    <span class="ec-pro-opt-label">Color</span>
                                                    <ul class="ec-opt-swatch ec-change-img">
                                                        <li class="active"><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/8_2.jpg"
                                                                data-src-hover="/images/product-image/8_2.jpg"
                                                                data-tooltip="Gray"><span
                                                                    style="background-color:#f3f3f3;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/8_3.jpg"
                                                                data-src-hover="/images/product-image/8_3.jpg"
                                                                data-tooltip="Orange"><span
                                                                    style="background-color:#fac7f3;"></span></a>
                                                        </li>
                                                        <li><a href="#" class="ec-opt-clr-img"
                                                                data-src="/images/product-image/8_4.jpg"
                                                                data-src-hover="/images/product-image/8_4.jpg"
                                                                data-tooltip="Green"><span
                                                                    style="background-color:#c5f1ff;"></span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="ec-pro-size">
                                                    <span class="ec-pro-opt-label">Size</span>
                                                    <ul class="ec-opt-size">
                                                        <li class="active"><a href="#" class="ec-opt-sz"
                                                                data-old="$48.00" data-new="$45.00"
                                                                data-tooltip="Small">S</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$90.00"
                                                                data-new="$70.00" data-tooltip="Medium">M</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$80.00"
                                                                data-new="$60.00" data-tooltip="Large">X</a></li>
                                                        <li><a href="#" class="ec-opt-sz" data-old="$70.00"
                                                                data-new="$50.00" data-tooltip="Extra Large">XL</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Summary Block -->
                </div>
                <!-- <div class="ec-sidebar-wrap ec-checkout-del-wrap">
                   
                </div> -->
                <div class="ec-sidebar-wrap ec-checkout-pay-wrap">
                    <!-- Sidebar Payment Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-sb-title">
                            <h3 class="ec-sidebar-title">Payment Method</h3>
                        </div>
                        <div class="ec-sb-block-content">
                            <div class="ec-checkout-pay">
                                <div class="ec-pay-desc">Please select the preferred payment method to use on this
                                    order.</div>
                                <form action="#">
                                  
                                        <span>
                                            <input id="pay1" class="payment-radio" type="radio" name="payment"
                                            value="Cash On Delivery" onchange="handleAddressSelection()"> 
                                            <label for="pay1">Cash On Delivery</label>
                                        </span>
                                        
                                        <span>
                                            <input id="pay2" class="payment-radio" type="radio" name="payment"
                                                value="Razorpay" onchange="handleAddressSelection()"> 
                                           <label for="pay2"> Razorpay</label>
                                        </span>
                                        <span>
                                            <input id="pay3" class="payment-radio" type="radio" name="payment"
                                                value="Wallet" onchange="handleAddressSelection()"> 
                                           <label for="pay3"> Wallet</label>
                                        </span>
                                      
                                   
<!--                                   
                                    <span class="ec-pay-agree"><input type="checkbox" value=""><a href="#">I have
                                            read and agree to the <span>Terms & Conditions</span></a><span
                                            class="checked"></span></span>
                                     -->
                                            
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Payment Block -->
                </div>
                <div class="ec-sidebar-wrap ec-check-pay-img-wrap">
                    <!-- Sidebar Payment Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-sb-title">
                            <h3 class="ec-sidebar-title">Payment Method</h3>
                        </div>
                        <div class="ec-sb-block-content">
                            <div class="ec-check-pay-img-inner">
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment1.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment2.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment3.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment4.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment5.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment6.png" alt="">
                                </div>
                                <div class="ec-check-pay-img">
                                    <img src="/images/icons/payment7.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar Payment Block -->
                </div>
            </div>
        </div>
    </div>
</section>

    <%-include('footer')%>