<%-include('header')%>


<body>
    <%-include('body')%>
</div>




<!-- Main Slider Start -->
<div class="sticky-header-next-sec ec-main-slider section section-space-pb">
    <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
        <!-- Main slider -->
        <div class="swiper-wrapper">
            <% bannerData.forEach(function(slide) { %>
                <div class="ec-slide-item swiper-slide d-flex ec-slide-1" style="background-image: url(<%= slide.image.url %>); width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center; overflow-y: hidden;">
                  <div class="container align-self-center">
                    <div class="row">
                      <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                        <div class="ec-slide-content slider-animation">
                          <h1 class="ec-slide-title"><%= slide.title %></h1>
                          <h2 class="ec-slide-stitle"><%= slide.subtitle %></h2>
                          <p><%= slide.description %></p>
                          <a href="/offerProducts?label=<%=slide.label%>" class="btn btn-lg btn-secondary">Order Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
              
              
         
        </div>
        <div class="swiper-pagination swiper-pagination-white"></div>
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Main Slider End -->
<!-- top categories  -->
 <!--  Category Section Start -->
 <section class="section ec-category-section ec-category-wrapper-5 section-space-p">
    <div class="container ec-category-wrapper-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Top Gadget Categories</h2>
                    <h2 class="ec-title">Top Gadget Categories</h2>
                    <p class="sub-title">Browse The Collection of Top Categories</p>
                </div>
            </div>
        </div>
        <div class="row cat-space-2 margin-minus-tb-15">
            <% categoryData.forEach(function(category){%>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="cat-card">
                    <img class="cat-icon" src="<%=category.imageUrl.url%>" alt="cat-icon">
                    <a class="btn-primary btn-primary-1" href="/products?id=<%= category._id %>">shop now</a>
                    <div class="cat-detail">
                        <div class="cat-detail-block">
                            <h4><%=category.category%></h4>
                            
                            <a class="btn-primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <%})%>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="cat-card">
                    <img class="cat-icon" src="/images/cat-banner/11.jpg" alt="cat-icon">
                    <a class="btn-primary btn-primary-1" href="javacript:void(0)">shop now</a>
                    <div class="cat-detail">
                        <div class="cat-detail-block">
                            <h4>Watches</h4>
                            
                            <a class="btn-primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
         
          
        </div>
    </div>
</section>
<!-- top categories end -->


<!-- ec Banner Section Start -->
<section class="ec-banner section section-space-p">
    <h2 class="d-none">Banner</h2>
    <div class="container">
        <!-- ec Banners Start -->
        <div class="ec-banner-inner">
            <!--ec Banner Start -->
            <div class="ec-banner-block ec-banner-block-2">
                <div class="row">
                
                    <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
                        <div class="bnr-overlay">
                            <img src="/images/banner/2.jpg" alt="" />
                            <div class="banner-text">
                                <span class="ec-banner-stitle">New Arrivals</span>
                                <span class="ec-banner-title">mens<br></span>
                                <span class="ec-banner-discount">30% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
                            </div>
                        </div>
                    </div>

                    <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
                        <div class="bnr-overlay">
                            <img src="/images/banner/3.jpg" alt="" />
                            <div class="banner-text">
                                <span class="ec-banner-stitle">New Trending</span>
                                <span class="ec-banner-title">Smart<br> watches</span>
                                <span class="ec-banner-discount">Buy any 3 Items & get <br>20% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ec Banner End -->
            </div>
            <!-- ec Banners End -->
        </div>
    </div>
</section>
<!-- ec Banner Section End -->

 <!--  Category Section Start -->
 <section class="section ec-category-section ec-category-wrapper-4 section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Classic</h2>
                    <h2 class="ec-title">Offer products</h2>
                    <p class="sub-title">Browse The offer products</p>
                </div>
            </div>
        </div>
        <div class="row cat-space-3 cat-auto margin-minus-tb-15">
            <% offerProducts.forEach(function(offer) { %>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="cat-card">
                        <div class="card-img">
                            <img class="cat-icon" src="<%= offer.imageUrl[0].url %>" alt="cat-icon">
                        </div>
                        <div class="cat-detail">
                            <h4><%= offer.name %></h4>
                            <h5>Starting at<br>$<%= offer.price %></h5>
                            <a class="btn-primary" href="#">shop now</a>
                        </div>
                    </div>
                </div>
            <% }) %>
            
           
        </div>
    </div>
</section>




<!--  services Section Start -->
<section class="section ec-services-section section-space-p" id="services">
    <h2 class="d-none">Services</h2>
    <div class="container">
        <div class="row">
            <div class="ec_ser_content ec_ser_content_1 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-truck-moving"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>Free Shipping</h2>
                        <p>Free shipping on all US order or order above $200</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_2 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-hand-holding-seeding"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>24X7 Support</h2>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_3 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-badge-percent"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>30 Days Return</h2>
                        <p>Simply return it within 30 days for an exchange</p>
                    </div>
                </div>
            </div>
            <div class="ec_ser_content ec_ser_content_4 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                <div class="ec_ser_inner">
                    <div class="ec-service-image">
                        <i class="fi fi-ts-donate"></i>
                    </div>
                    <div class="ec-service-desc">
                        <h2>Payment Secure</h2>
                        <p>Contact us 24 hours a day, 7 days a week</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services Section End -->



<!-- ec testmonial Start -->
<section class="section ec-test-section section-space-ptb-100 section-space-m" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title mb-0">
                    <h2 class="ec-bg-title">Testimonial</h2>
                    <h2 class="ec-title">Client Review</h2>
                    <p class="sub-title mb-3">What say client about us</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ec-test-outer">
                <ul id="ec-testimonial-slider">
                    <li class="ec-test-item">
                        <i class="fi-rr-quote-right top"></i>
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="/images/testimonial/1.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen</div>
                                <div class="ec-test-name">John Doe</div>
                                <div class="ec-test-designation">General Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <i class="fi-rr-quote-right bottom"></i>
                    </li>
                    <li class="ec-test-item ">
                        <i class="fi-rr-quote-right top"></i>
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="/images/testimonial/2.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen</div>
                                <div class="ec-test-name">John Doe</div>
                                <div class="ec-test-designation">General Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <i class="fi-rr-quote-right bottom"></i>
                    </li>
                    <li class="ec-test-item">
                        <i class="fi-rr-quote-right top"></i>
                        <div class="ec-test-inner">
                            <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                    src="/images/testimonial/3.jpg" /></div>
                            <div class="ec-test-content">
                                <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen</div>
                                <div class="ec-test-name">John Doe</div>
                                <div class="ec-test-designation">General Manager</div>
                                <div class="ec-test-rating">
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                    <i class="ecicon eci-star fill"></i>
                                </div>
                            </div>
                        </div>
                        <i class="fi-rr-quote-right bottom"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ec testmonial end -->

<!-- Ec Brand Section Start -->
<section class="section ec-brand-area section-space-p">
    <h2 class="d-none">Brand</h2>
    <div class="container">
        <div class="row">
            <div class="ec-brand-outer">
                <ul id="ec-brand-slider">
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/1.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/2.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/3.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/4.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/5.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/6.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/7.png" /></a></div>
                    </li>
                    <li class="ec-brand-item" data-animation="zoomIn">
                        <div class="ec-brand-img"><a href="#"><img alt="brand" title="brand"
                                    src="/images/brand-image/8.png" /></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Ec Brand Section End -->

<!-- Ec Instagram Start -->
<section class="section ec-instagram-section module section-space-p" id="insta">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Instagram Feed</h2>
                    <h2 class="ec-title">Instagram Feed</h2>
                    <p class="sub-title">Share your store with us</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ec-insta-wrapper">
        <div class="ec-insta-outer">
            <div class="container" data-animation="fadeIn">
                <div class="insta-auto">
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/1.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/2.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/3.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/4.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/5.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/6.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                    <!-- instagram item -->
                    <div class="ec-insta-item">
                        <div class="ec-insta-inner">
                            <a href="#" target="_blank"><img src="/images/instragram-image/7.jpg"
                                    alt="insta"></a>
                        </div>
                    </div>
                    <!-- instagram item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ec Instagram End -->


<%-include('footer')%>