
 <%-include('header')%>
<body>
   <%-include('body')%>


    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Hot Offer</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">Offer</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Start Offer section -->
    <section class="labels section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Offer Products</h2>
                        <h2 class="ec-title">Offer Products</h2>
                        <p class="sub-title">Browse The Collection of Top Offers</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <% productData.forEach(function(product) { %>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 margin-b-30">
                    <div class="ec-offer-coupon">
                        <div class="ec-cpn-brand">
                            <img class="ec-brand-img" src="<%= product.imageUrl[0].url %>" alt="" />
                        </div>
                        <div class="ec-cpn-title">
                            <h2 class="coupon-title"><%= product.name %></h2>
                        </div>
                       
                        <div class="ec-cpn-code">
                            <a href="/productView?id=<%= product._id %>" class="btn btn-secondary">Shop Now</a>
                        </div>
                    </div>
                </div>
                <% }) %>
               
            </div>
        </div>
    </section>
    <!-- End Offer section -->


<%-include('footer')%>