<%-include('header')%>
<body class="product_page">
    <%-include('body')%>
    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Single Products</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">Products</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Sart Single product -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-pro-rightside ec-common-rightside col-lg-9 col-md-12">

                    <!-- Single product content Start -->
                    <div class="single-pro-block">
                        <div class="single-pro-inner">
                            <div class="row">
                                <figure class="product-main-image">
                                    
                                    <% if (productData.offerlabel) { %>
                                        <span class="product-label label-sale">Sale</span>
                                    <% } %>
                                    
                                </figure>
                                <div class="single-pro-img">
                                    <div class="single-product-scroll">
                                        <div class="single-product-cover">
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="<%= productData.imageUrl[0].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="<%= productData.imageUrl[1].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="<%= productData.imageUrl[2].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="<%= productData.imageUrl[3].url %>"
                                                    alt="">
                                            </div>
                                          
                                        </div>
                                        <div class="single-nav-thumb">
                                            <div class="single-slide">
                                                <img class="img-responsive" src="<%= productData.imageUrl[0].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="<%= productData.imageUrl[1].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="<%= productData.imageUrl[2].url %>"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="<%= productData.imageUrl[3].url %>"
                                                    alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="single-pro-desc">
                                    <div class="single-pro-content">
                                        <h5 class="ec-single-title"><%= productData.name %></h5>
                                        <input name="productName" value="<%= productData.name %>" type="hidden">
                                        <div class="ec-single-rating-wrap">
                                            <div class="ec-single-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </div>
                                           
                                        </div>
                                        <div class="ec-single-desc"> <%= productData.description %></div>

                                        <div class="ec-single-sales">
                                            <div class="ec-single-sales-inner">
                                                <div class="ec-single-sales-title">sales accelerators</div>
                                                <div class="ec-single-sales-visitor">real time <span>18</span> visitor
                                                    right now!</div>
                                                <div class="ec-single-sales-progress">
                                                    <span class="ec-single-progress-desc">Hurry up!left 17 in
                                                        stock</span>
                                                    <span class="ec-single-progressbar"></span>
                                                </div>
                                                <div class="ec-single-sales-countdown">
                                                    <div class="ec-single-countdown"><span
                                                            id="ec-single-countdown"></span></div>
                                                    <div class="ec-single-count-desc">Time is Running Out!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-single-price-stoke">
                                            <div class="ec-single-price">
                                                <span class="ec-single-ps-title">As low as</span>
                                                <span class="new-price">₹ <%= productData.price %></span>
                                            </div>
                                            <div class="ec-single-stoke">
                                                <% if (productData.stock === 0) { %>
                                                    <span class="ec-single-ps-title"> STOCK OUT</span>
                                                    <% }else{ %>
                                                        <span class="ec-single-ps-title">IN STOCK</span>
                                                        <%}%>
                                                   
                                               
                                            </div>
                                        </div>

                                   
                                        <div class="ec-single-qty">
                                            <div class="input-group  input-spinner">
                                                
                                                <div class="input-group-prepend">
                                                    <button onclick="productQuantity('<%= productData._id %>','dec')" style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button">
                                                        <i  class="icon-minus">-</i>
                                                    </button>
                                                </div>
                                                
                                           
                                                <input  disabled type="number" id="<%= productData._id %>" class="form-control"  name="num-product" value="1">

                                              

                                                <div class="input-group-append">
                                                    <button onclick="productQuantity('<%= productData._id %>','inc')" style="min-width: 26px" class="btn btn-increment btn-spinner" type="button">
                                                        <i class="icon-plus">+</i>
                                                    </button>
                                                </div>
                                            
                                    </div>
                                    <% if (productData.stock) { %>
                                        <% if (userData) { %>
                                            <% if (productData.isOnCart) { %>
                                            <div href="/cart?id=<%= userData._id %>" class="ec-single-cart ">
                                                <button class="btn btn-primary">Go To Cart</button>
                                            </div>
                                            <% } else { %>
                                                
                                                <div onclick="addToCart('<%= productData._id %>')" id="addToCartBtn" class="ec-single-cart ">
                                                    <button class="btn btn-primary">Add To Cart</button>
                                                </div>
                                                
                                                <% } %>
                                                <% } else { %>
                                                    
                                                    <div  class="ec-single-cart ">
                                                        <a href="/login">
                                                            <button class="btn btn-primary">Add To Cart</button>
                                                        </a>
                                                      
                                                    </div>
                                                    <% } %>
                                                    <% } else { %>
                                                        <div  class="ec-single-cart ">
                                                            <button class="btn btn-primary">out of stock</button>
                                                        </div>
                                                        <% } %>

                                                        
                                            <div class="ec-single-wishlist">
                                                <% if (userData) { %>
                                                <a onclick="addToWishlist('<%= productData._id %>','<%= cartId %>')" class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                                                <% } else { %>
                                                    <a  href="/login" class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                                                    <% } %>
                                            </div>




                                            <div class="ec-single-quickview">
                                                <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><i class="fi-rr-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="ec-single-social">
                                            <ul class="mb-0">
                                                <li class="list-inline-item facebook"><a href="#"><i
                                                            class="ecicon eci-facebook"></i></a></li>
                                                <li class="list-inline-item twitter"><a href="#"><i
                                                            class="ecicon eci-twitter"></i></a></li>
                                                <li class="list-inline-item instagram"><a href="#"><i
                                                            class="ecicon eci-instagram"></i></a></li>
                                                <li class="list-inline-item youtube-play"><a href="#"><i
                                                            class="ecicon eci-youtube-play"></i></a></li>
                                                <li class="list-inline-item behance"><a href="#"><i
                                                            class="ecicon eci-behance"></i></a></li>
                                                <li class="list-inline-item whatsapp"><a href="#"><i
                                                            class="ecicon eci-whatsapp"></i></a></li>
                                                <li class="list-inline-item plus"><a href="#"><i
                                                            class="ecicon eci-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single product content End -->
                    <!-- Single product tab start -->
                    <div class="ec-single-pro-tab">
                        <div class="ec-single-pro-tab-wrapper">
                            <div class="ec-single-pro-tab-nav">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#ec-spt-nav-details" role="tablist">Description</a>
                                    </li>
                                   
                                   
                                </ul>
                            </div>
                            <div class="tab-content  ec-single-pro-tab-content">
                                <div id="ec-spt-nav-details" class="tab-pane fade show active">
                                    <div class="ec-single-pro-tab-desc">
                                        <p><%= productData.description %>
                                        </p>
                                        <ul>
                                            <li>Any Product types that You want - Simple, Configurable</li>
                                            <li>Downloadable/Digital Products, Virtual Products</li>
                                            <li>Inventory Management with Backordered items</li>
                                            <li>Flatlock seams throughout.</li>
                                        </ul>
                                    </div>
                                </div>
                               

                              
                            </div>
                        </div>
                    </div>
                    <!-- product details description area end -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="ec-pro-leftside ec-common-leftside col-lg-3 col-md-12">
                    <div class="ec-sidebar-wrap">
                        <!-- Sidebar Category Block -->
                        <div class="ec-sidebar-block">
                           
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">categories</div>
                                        <ul style="display: block;">
                                            <% categoryData.forEach(function(category) { %>

                                           
                                            <li>
                                                <div class="ec-sidebar-sub-item"><a href="#"><%= category.category %></a>
                                                </div>
                                            </li>
                                            <% }) %>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                           
                          
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">Sub Categories</div>
                                        <ul>
                                            <% subCategoryData.forEach(function(subCategory) { %>

                                           
                                                <li>
                                                    <div class="ec-sidebar-sub-item"><a href="#"><%= subCategory.subCategory %></a>
                                                    </div>
                                                </li>
                                                <% }) %>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="ec-sb-block-content">
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-block-item">Brands</div>
                                        <ul>
                                           
                                            <% brandData.forEach(function(brand) { %>

                                           
                                                <li>
                                                    <div class="ec-sidebar-sub-item"><a href="#"><%= brand.name %></a>
                                                    </div>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Category Block -->
                    </div>
                   
                </div>
                <!-- Sidebar Area Start -->
            </div>
        </div>
    </section>
    <!-- End Single product -->

    <!-- Related Product Start -->
    <section class="section ec-releted-product section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Related products</h2>
                        <h2 class="ec-title">Related products</h2>
                        <p class="sub-title">Browse The Collection of Top Products</p>
                    </div>
                </div>
            </div>
            <div class="row margin-minus-b-30">
                <!-- Related Product Content -->
                <% relatedProducts.forEach(function(product){%>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="/productView?id=<%= product._id %>" class="image">
                                    <img class="main-image"
                                        src="<%= product.imageUrl[0].url %>" alt="Product" />
                                    <img class="hover-image"
                                        src="<%= product.imageUrl[1].url %>" alt="Product" />
                                </a>
                                <span class="percentage">20%</span>
                                <% if (product.stock === 0) { %>
                                                
                                    <span class="flags">
                                        <span class="sale">Sold Out</span>
                                    </span>
                                <% } %>
                                <% if (product.offerlabel && product.offerlabel.length > 0) { %>
                                    <span class="flags">
                                        <span class="sale">Sale</span>
                                    </span>
                                <% } %>
                                <!-- <a href="#" class="quickview" data-link-action="quickview" title="Quick view" -->

                                    data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><i class="fi-rr-eye"></i></a>
                                <div class="ec-pro-actions">
                                    <a href="#" class="ec-btn-group compare" title="Compare"><i
                                            class="fi fi-rr-arrows-repeat"></i></a>
                                    <button title="Add To Cart" class="add-to-cart"><i
                                            class="fi-rr-shopping-basket"></i> Add To Cart</button>
                                    <a class="ec-btn-group wishlist" title="Wishlist"><i class="fi-rr-heart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ec-pro-content">
                            <h5 class="ec-pro-title"> <a href="/productView?id=<%= product._id %>"><%= product.name %></a></h5>
                            <div class="ec-pro-rating">
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star fill"></i>
                                <i class="ecicon eci-star"></i>
                            </div>
                            <div class="ec-pro-list-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dutmmy text ever since the 1500s, when an unknown printer took a galley.</div>
                            <% if (product.oldPrice) { %>
                                <span class="ec-price">
                                <span class="new-price">₹ <%= product.price %></span>
                                <span class="old-price">₹ <%= product.oldPrice %></span>
                            </span>
                            <% } else { %>
                                ₹ <%= product.price %>
                            <% } %>
                           
                        </div>
                    </div>
                </div>
                <%})%>

            </div>
        </div>
    </section>
    <!-- Related Product end -->
<%-include('footer')%>